{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "prettier",
        "prettier/react",
        "react-app"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "plugins": [
        "jsx-a11y",
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "react/destructuring-assignment": [1 , "always", { "ignoreClassFields": true }],
        "no-debugger": "warn",
        "semi": [1, "never"],
        "no-plusplus": [1, {
            "allowForLoopAfterthoughts": true
        }],
        "no-param-reassign": [1, {
            "props": false
        }],
        "require-jsdoc": [1, {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true,
                "FunctionExpression": true
            }
        }],
        "valid-jsdoc": "warn",
        "no-unused-expressions": [1,
            {
                "allowShortCircuit": true,
                "allowTernary": true,
                "allowTaggedTemplates": true
            }
        ],
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/alt-text": 1,
        "import/prefer-default-export": 1,
        "jsx-a11y/accessible-emoji": 0,
        "jsx-a11y/label-has-associated-control": 1,
        "jsx-a11y/no-static-element-interactions": 1,
        "jsx-a11y/iframe-has-title": 0,
        "jsx-a11y/no-noninteractive-element-interactions":1,
        "jsx-a11y/no-onchange": 1,
        "jsx-a11y/media-has-caption": "off",
        "import/no-dynamic-require": "off",
        "react/boolean-prop-naming": "warn",
        "react/button-has-type": "warn",
        "react/default-props-match-prop-types": "warn",
        "react/display-name": "warn",
        "react/forbid-component-props": "warn",
        "react/forbid-dom-props": "warn",
        "react/forbid-elements": "warn",
        "react/forbid-prop-types": "warn",
        "react/forbid-foreign-prop-types": "warn",
        "react/no-access-state-in-setstate": "warn",
        "react/no-array-index-key": "warn",
        "react/no-children-prop": "warn",
        "react/no-danger": "warn",
        "react/no-danger-with-children": "warn",
        "react/no-deprecated": "warn",
        "react/no-did-mount-set-state": "warn",
        "react/no-did-update-set-state": "warn",
        "react/no-direct-mutation-state": "warn",
        "react/no-find-dom-node": "warn",
        "react/no-is-mounted": "warn",
        "react/no-redundant-should-component-update": "warn",
        "react/no-render-return-value": "warn",
        "react/no-typos": "warn",
        "react/no-string-refs": "warn",
        "react/no-this-in-sfc": "warn",
        "react/no-unescaped-entities": "warn",
        "react/no-unknown-property": "warn",
        "react/no-unused-prop-types": "warn",
        "react/no-unused-state": "warn",
        "react/no-will-update-set-state": "warn",
        "react/prefer-es6-class": "warn",
        "react/prefer-stateless-function": "warn",
        "react/react-in-jsx-scope": "warn",
        "react/require-render-return": "warn",
        "react/self-closing-comp": "warn",
        "react/sort-comp": "warn",
        "react/state-in-constructor": 1,
        "react/void-dom-elements-no-children": "warn",
        "react/jsx-boolean-value": "warn",
        "react/jsx-child-element-spacing": "warn",
        "react/jsx-closing-bracket-location": "warn",
        "react/jsx-closing-tag-location": "warn",
        "react/jsx-curly-spacing": "warn",
        "react/jsx-equals-spacing": "warn",
        "react/jsx-first-prop-new-line": "warn",
        "react/jsx-handler-names": "warn",
        "react/jsx-indent": "warn",
        "react/jsx-indent-props": "warn",
        "react/jsx-key": "warn",
        "react/jsx-max-depth": [1, { "max": 5 }], 
        "react/jsx-max-props-per-line": [1, {"multiline": true}],
        "react/jsx-no-bind": "warn",
        "react/jsx-no-comment-textnodes": "warn",
        "react/jsx-no-duplicate-props": "warn",
        "react/jsx-no-literals": "warn",
        "react/jsx-no-target-blank": "warn",
        "react/jsx-no-undef": "warn",
        "react/jsx-one-expression-per-line": "warn",
        "react/jsx-curly-brace-presence": "warn",
        "react/jsx-pascal-case": "warn",
        "react/jsx-props-no-multi-spaces": "warn",
        "react/jsx-tag-spacing": "warn",
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/jsx-wrap-multilines": "warn",

        "for-direction": "warn",
        "getter-return": "warn",
        "no-await-in-loop": "warn",
        "no-compare-neg-zero": "warn",
        "no-cond-assign": "warn",
        "no-constant-condition": "warn",
        "no-control-regex": "warn",
        "no-dupe-args": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case": "warn",
        "no-empty": "warn",
        "no-empty-character-class": "warn",
        "no-ex-assign": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-parens": "warn",
        "no-extra-semi": "warn",
        "no-func-assign": "warn",
        "no-inner-declarations": "warn",
        "no-invalid-regexp": "warn",
        "no-irregular-whitespace": "warn",
        "no-obj-calls": "warn",
        "no-prototype-builtins": "warn",
        "no-regex-spaces": "warn",
        "no-sparse-arrays": "warn",
        "no-template-curly-in-string": "warn",
        "no-unexpected-multiline": "warn",
        "no-unreachable": "warn",
        "no-unsafe-finally": "warn",
        "no-unsafe-negation": "warn",
        "use-isnan": "warn",
        "valid-typeof": "warn",
        "accessor-pairs": "warn",
        "array-callback-return": "warn",
        "block-scoped-var": "warn",
        "class-methods-use-this": "warn",
        "complexity": "warn",
        "consistent-return": "warn",
        "curly": "warn",
        "default-case": "warn",
        "dot-location": "warn",
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "guard-for-in": "warn",
        "import/newline-after-import": "warn",
        "max-classes-per-file": "warn",
        "no-alert": "warn",
        "no-caller": "warn",
        "no-case-declarations": "warn",
        "no-div-regex": "warn",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-empty-pattern": "warn",
        "no-eq-null": "warn",
        "no-eval": "warn",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-fallthrough": "warn",
        "no-floating-decimal": "warn",
        "no-global-assign": "warn",
        "no-implicit-coercion": "warn",
        "no-implicit-globals": "warn",
        "no-implied-eval": "warn",
        "no-iterator": "warn",
        "no-labels": "warn",
        "no-lone-blocks": "warn",
        "no-loop-func": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-wrappers": "warn",
        "no-octal": "warn",
        "no-octal-escape": "warn",
        "no-proto": "warn",
        "no-redeclare": "warn",
        "no-restricted-properties": "warn",
        "no-return-assign": "warn",
        "no-return-await": "warn",
        "no-script-url": "warn",
        "no-self-assign": "warn",
        "no-self-compare": "warn",
        "no-sequences": "warn",
        "no-throw-literal": "warn",
        "no-unmodified-loop-condition": "warn",
        "no-unused-labels": "warn",
        "no-useless-call": "warn",
        "no-useless-concat": "warn",
        "no-useless-escape": "warn",
        "no-useless-return": "warn",
        "no-void": "warn",
        "no-warning-comments": "warn",
        "no-with": "warn",
        "prefer-promise-reject-errors": "warn",
        "radix": "warn",
        "require-await": "warn",
        "vars-on-top": "warn",
        "wrap-iife": "warn",
        "yoda": "warn",
        "strict": "warn",
        "init-declarations": "warn",
        "no-catch-shadow": "warn",
        "no-delete-var": "warn",
        "no-label-var": "warn",
        "no-restricted-globals": "warn",
        "no-shadow": "warn",
        "no-shadow-restricted-names": "warn",
        "no-undef": "warn",
        "no-undef-init": "warn",
        "no-undefined": "warn",
        "no-unused-vars": "warn",
        "no-use-before-define": "warn",
        "callback-return": "warn",
        "handle-callback-err": "warn",
        "no-buffer-constructor": "warn",
        "no-mixed-requires": "warn",
        "no-new-require": "warn",
        "no-path-concat": "warn",
        "no-process-exit": "warn",
        "no-restricted-modules": "warn",
        "no-sync": "warn",
        "array-bracket-newline": "warn",
        "array-bracket-spacing": "warn",
        "array-element-newline": "warn",
        "block-spacing": "warn",
        "brace-style": "warn",
        "camelcase": "warn",
        "capitalized-comments": "warn",
        "comma-spacing": "warn",
        "comma-style": "warn",
        "computed-property-spacing": "warn",
        "consistent-this": "warn",
        "eol-last": "warn",
        "func-call-spacing": "warn",
        "func-name-matching": "warn",
        "func-names": "warn",
        "func-style": "warn",
        "function-paren-newline": "warn",
        "id-blacklist": "warn",
        "id-length": "warn",
        "id-match": "warn",
        "implicit-arrow-linebreak": "warn",
        "import/order": "warn",
        "indent": ["warn", 2],
        "jsx-quotes": "warn",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "line-comment-position": "warn",
        "linebreak-style": "warn",
        "lines-around-comment": [1, {
          "allowBlockStart": true,
          "allowBlockEnd": true
        }],
        "lines-between-class-members": "warn",
        "max-depth": "warn",
        "max-len": "warn",
        "max-lines": "warn",
        "max-nested-callbacks": "warn",
        "max-statements": ["warn", 25],
        "max-statements-per-line": "warn",
        "multiline-comment-style": "warn",
        "new-cap": "warn",
        "new-parens": "warn",
        "newline-per-chained-call": "warn",
        "no-array-constructor": "warn",
        "no-bitwise": "warn",
        "no-continue": "warn",
        "no-inline-comments": "off",
        "no-lonely-if": "warn",
        "no-mixed-operators": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multi-assign": "warn",
        "no-multiple-empty-lines": "warn",
        "no-negated-condition": "warn",
        "no-nested-ternary": "warn",
        "no-new-object": "warn",
        "no-restricted-syntax": "warn",
        "no-tabs": "warn",
        "no-trailing-spaces": "warn",
        "no-underscore-dangle": "warn",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "warn",
        "nonblock-statement-body-position": "warn",
        "object-curly-newline": "warn",
        "object-curly-spacing": "warn",
        "object-property-newline": "warn",
        "one-var": "warn",
        "one-var-declaration-per-line": "warn",
        "operator-assignment": "warn",
        "operator-linebreak": "warn",
        "padded-blocks": "warn",
        "padding-line-between-statements": "warn",
        "prefer-object-spread": "warn",
        "quote-props": "warn",
        "quotes": ["warn", "single", { "avoidEscape": true }],
        "semi-spacing": "warn",
        "semi-style": "warn",
        "space-before-blocks": "warn",
        "space-before-function-paren": "warn",
        "space-in-parens": "warn",
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "spaced-comment": "warn",
        "switch-colon-spacing": "warn",
        "template-tag-spacing": "warn",
        "unicode-bom": "warn",
        "wrap-regex": "warn",
        "arrow-body-style": "warn",
        "arrow-spacing": "warn",
        "constructor-super": "warn",
        "generator-star-spacing": "warn",
        "no-class-assign": "warn",
        "no-confusing-arrow": "warn",
        "no-const-assign": "warn",
        "no-dupe-class-members": "warn",
        "no-duplicate-imports": "warn",
        "no-new-symbol": "warn",
        "no-restricted-imports": "warn",
        "no-this-before-super": "warn",
        "no-useless-computed-key": "warn",
        "no-useless-constructor": "warn",
        "no-useless-rename": "warn",
        "no-var": "warn",
        "object-shorthand": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-destructuring": "warn",
        "prefer-numeric-literals": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "warn",
        "require-yield": "warn",
        "rest-spread-spacing": "warn",
        "symbol-description": "warn",
        "template-curly-spacing": "warn",
        "yield-star-spacing": "warn"
    }
}