.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Title {
  font-family: 'QuincyCF';
  font-size: 30px;
}

@media(max-width: 350px){
  .Wrapper {
    
  }
}


@media(min-width: 700px){
  .Wrapper {
   
  }
}

