.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Title {
  font-family: 'QuincyCF';
  font-size: 30px;
}

.ErrorMessage {
  font-family: 'ModernEra';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e02020;
  text-align: center;
  margin-top: 25px;
}

